---
import { getCollection } from "astro:content";
import Surface from "../Surface.astro";
import type { ColorKey } from "../../lib/designSystem/colors.ts";
import { getCollectionByPriority } from "../../lib/content/getCollectionItems.ts";

const colors: ColorKey[] = ["green-2", "yellow-2", "blue-2", "orange"];
const rotates = [-0.8, -0.4, 1.3, 0.9];

const principles = await getCollectionByPriority("principles");

const getBg = (i: number) => colors[i % colors.length];
const getRotate = (i: number) => rotates[i % rotates.length];
---

<h2 class="text-3xl bold">Nos principes</h2>
<div class="grid">
  {
    principles.map(({ Content }, i) => (
      <Surface background={getBg(i)} rotate={getRotate(i)} text="black" border>
        <div class="content">
          <Content />
        </div>
      </Surface>
    ))
  }
</div>

<style>
  h2 {
    text-align: center;
    margin-block-end: var(--space-xl);

    @media (width>60rem) {
      text-align: left;
      margin-block-end: var(--space-l);
    }
  }
  .content {
    font-size: var(--step-1);
    font-weight: 500;
    line-height: 1.1;
  }
  .grid {
    display: grid;
    align-items: center;
    column-gap: var(--space-l);
    row-gap: var(--space-xl);
    text-align: center;
    @media (width> 45rem) {
      text-align: left;
      justify-items: center;
    }
    @media (width>60rem) {
      grid-template-columns: 1fr 1fr;
    }
  }
</style>
