---
import Accordion from "../components/Accordion/Accordion.svelte";
import Base from "../layouts/Base.astro";
import { getItemsFromCollection } from "../lib/content/getCollectionItems.ts";

const questions = await getItemsFromCollection("faq");
---

<Base title="Foire aux questions">
  <div>
    <h1 class="text-3xl">Foire aux questions</h1>
    <section>
      {
        questions.map(({ Content, title }, i) => (
          <Accordion client:idle first={i === 0} key={i}>
            <h2 slot="head" class="text-xl semibold">
              {title}
            </h2>
            <Content />
          </Accordion>
        ))
      }
    </section>
  </div>
</Base>

<style>
  h1 {
    margin-block-end: var(--space-l);
  }
</style>
