---
import Base from "#layouts/Base.astro";
import { Image } from "astro:assets";
import TabPannel from "../components/Tabs/TabPannel.svelte";
import Tabs from "../components/Tabs/Tabs.svelte";
import HeroSection from "../components/homePage/HeroSection.astro";
import Principles from "../components/homePage/Principles.astro";
import Testimonials from "../components/homePage/Testimonials.astro";
import { getCollectionByPriority } from "../lib/content/getCollectionItems.ts";

const samples = await getCollectionByPriority("samples");
---

<Base title="Accueil">
  <section>
    <HeroSection />
  </section>

  <section>
    <h2 class="text-3xl bold" style="margin-block-end: var(--space-l);">
      Un magazine pour:
    </h2>
    <Tabs keys={samples.map((el) => el.title)} client:idle>
      {
        samples.map(({ title, image, altImage, Content }) => (
          <TabPannel key={title} client:idle>
            <Image src={image} alt={altImage} />
            <Content />
          </TabPannel>
        ))
      }
    </Tabs>
  </section>

  <section class="full-width">
    <Testimonials />
  </section>

  <section>
    <Principles />
  </section>
</Base>

<style>
  section {
    padding-block: var(--space-l);
  }
  @media (width > 60rem) {
    section {
      padding-block: var(--space-xl);
    }
  }
</style>
