---
import Base from "#layouts/Base.astro";
import HeroSection from "../components/home/HeroSection.astro";
import Principles from "../components/home/Principles.astro";
import Samples from "../components/home/Samples.svelte";
import Testimonials from "../components/home/Testimonials.astro";
---

<Base title="Accueil">
  <section>
    <HeroSection />
  </section>

  <section>
    <h2 class="text-3xl bold" style="margin-block-end: var(--space-l);">
      Un magazine pour:
    </h2>
    <Samples client:idle />
  </section>

  <section class="full-width">
    <Testimonials />
  </section>

  <section>
    <Principles />
  </section>
</Base>

<style>
  section {
    padding-block: var(--space-l);
  }
  @media (width > 60rem) {
    section {
      padding-block: var(--space-xl);
    }
  }
</style>
