---
import Surface from "../Surface.astro";
---

<h2 class="text-3xl bold">Nos principes</h2>
<div class="grid">
  <Surface background="green-2" text="black" border rotate={-0.8}>
    <p class="text-lg semibold">À fond ! aime la mixité et la diversité</p>
  </Surface>
  <Surface background="yellow-2" text="black" border rotate={-0.4}>
    <p class="text-lg semibold">À fond ! aime toutes les pratiques sportives</p>
  </Surface>
  <Surface background="blue-2" text="black" border rotate={1.3}>
    <p class="text-lg semibold">À fond ! est un magazine indépendant</p>
  </Surface>
  <Surface background="orange" text="black" border rotate={0.9}>
    <p class="text-lg semibold">À fond ! est imprimé en France</p>
  </Surface>
</div>

<style>
  h2 {
    text-align: center;
    margin-block-end: var(--space-xl);

    @media (width>60rem) {
      text-align: left;
      margin-block-end: var(--space-l);
    }
  }
  .grid {
    display: grid;
    align-items: center;
    column-gap: var(--space-l);
    row-gap: var(--space-xl);
    text-align: center;
    @media (width> 45rem) {
      text-align: left;
      justify-items: center;
    }
    @media (width>60rem) {
      grid-template-columns: 1fr 1fr;
    }
  }
</style>
