---
import { spaces, type SpacesKey } from "../lib/designSystem/spaces.ts";

export type Props = {
  top?: SpacesKey;
  bottom?: SpacesKey;
};

const { top = "xl", bottom = "xl" } = Astro.props;

const spaceTop = spaces[top];
const spaceBottom = spaces[bottom];
---

<div class="region">
  <slot />
</div>

<style define:vars={{ spaceTop, spaceBottom }}>
  .region {
    padding-block-start: var(--spaceTop);
    padding-block-end: var(--spaceBottom);
  }
</style>
