---
import Newsletter from "./Newsletter.svelte";
---

<footer>
  <ul role="list" class="socialNetworks">
    <li>
      <a href="https://twitter.com/afondlemag" target="_blank" title="Twitter">
        <svg
          width="30"
          height="31"
          viewBox="0 0 30 31"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M30 15.8809C30 24.1651 23.2843 30.8809 15 30.8809C6.71573 30.8809 0 24.1651 0 15.8809C0 7.59659 6.71573 0.880859 15 0.880859C23.2843 0.880859 30 7.59659 30 15.8809Z"
            fill="currentColor"
            class="fill-black"></path>
          <path
            d="M27.067 8.04788C26.1787 8.4415 25.2245 8.70746 24.2213 8.82767C25.2447 8.2149 26.0298 7.24256 26.4 6.08512C25.4426 6.6532 24.3819 7.06597 23.2532 7.28724C22.3489 6.32554 21.0617 5.72341 19.6362 5.72341C16.9 5.72341 14.6809 7.94256 14.6809 10.6809C14.6809 11.0681 14.7255 11.4447 14.8085 11.8085C10.6883 11.6011 7.0383 9.62767 4.59362 6.6298C4.16809 7.36384 3.92341 8.2149 3.92341 9.12129C3.92341 10.8404 4.79894 12.3585 6.12766 13.2468C5.31489 13.2202 4.55106 12.9979 3.88298 12.6266V12.6904C3.88298 15.0915 5.59043 17.0947 7.85851 17.55C7.44149 17.6628 7.00426 17.7224 6.55319 17.7224C6.23404 17.7224 5.92234 17.6926 5.62021 17.6351C6.25106 19.6032 8.08085 21.0372 10.25 21.0755C8.55319 22.4053 6.41596 23.1979 4.09468 23.1979C3.69468 23.1979 3.3 23.1745 2.9117 23.1287C5.10532 24.5362 7.70957 25.3553 10.5074 25.3553C19.6245 25.3553 24.6085 17.8043 24.6085 11.2553C24.6085 11.0426 24.6032 10.8277 24.5936 10.6149C25.5617 9.9149 26.4021 9.04363 27.0649 8.05107L27.067 8.04788Z"
            class="fill-white"></path>
        </svg>
      </a>
    </li>
    <li>
      <a
        href="https://www.instagram.com/afond_lemag/"
        target="_blank"
        title="Instagram"
      >
        <svg
          width="30"
          height="31"
          viewBox="0 0 30 31"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_294_922)">
            <path
              d="M15.0079 0.768799C8.83923 0.768799 7.03514 0.775162 6.68446 0.804253C5.41855 0.909481 4.63082 1.1088 3.77264 1.53607C3.11128 1.86448 2.58969 2.24516 2.07491 2.7788C1.13741 3.75198 0.569231 4.94925 0.363549 6.37244C0.263549 7.06334 0.234458 7.20425 0.228549 10.7333C0.226276 11.9097 0.228549 13.4579 0.228549 15.5345C0.228549 21.6981 0.235367 23.5004 0.264913 23.8504C0.367186 25.0822 0.560367 25.8572 0.969458 26.7049C1.75128 28.3277 3.24446 29.5458 5.00355 30.0004C5.61264 30.1572 6.28537 30.2436 7.14901 30.2845C7.51491 30.3004 11.2445 30.3118 14.9763 30.3118C18.7081 30.3118 22.4399 30.3072 22.7967 30.289C23.7967 30.242 24.3774 30.164 25.0195 29.9981C26.7899 29.5413 28.2558 28.3413 29.0536 26.6958C29.4547 25.8686 29.6581 25.064 29.7501 23.8965C29.7701 23.642 29.7786 19.5836 29.7786 15.5306C29.7786 11.477 29.7695 7.42607 29.7495 7.17153C29.6563 5.98516 29.4529 5.18744 29.0388 4.34425C28.699 3.65403 28.3217 3.13857 27.774 2.61153C26.7965 1.67789 25.6011 1.10971 24.1765 0.904253C23.4863 0.804481 23.3488 0.774935 19.817 0.768799H15.0079Z"
              class="fill-black"></path>
            <path
              d="M15.0012 4.63232C12.0383 4.63232 11.6665 4.64528 10.5028 4.69824C9.34143 4.75142 8.54868 4.93529 7.85503 5.20507C7.1375 5.48371 6.52885 5.85645 5.92247 6.46306C5.31563 7.06944 4.94289 7.6781 4.66334 8.39539C4.39287 9.08928 4.20878 9.88226 4.1565 11.0432C4.10446 12.2069 4.09082 12.5789 4.09082 15.5417C4.09082 18.5046 4.104 18.8753 4.15673 20.0389C4.21014 21.2003 4.39401 21.9931 4.66357 22.6867C4.94244 23.4043 5.31518 24.0129 5.92178 24.6193C6.52794 25.2261 7.13659 25.5998 7.85366 25.8784C8.54777 26.1482 9.34075 26.3321 10.5019 26.3853C11.6656 26.4382 12.0372 26.4512 14.9998 26.4512C17.9628 26.4512 18.3335 26.4382 19.4972 26.3853C20.6586 26.3321 21.4523 26.1482 22.1464 25.8784C22.8637 25.5998 23.4714 25.2261 24.0776 24.6193C24.6844 24.0129 25.0571 23.4043 25.3367 22.687C25.6049 21.9931 25.789 21.2001 25.8435 20.0392C25.8958 18.8755 25.9094 18.5046 25.9094 15.5417C25.9094 12.5789 25.8958 12.2071 25.8435 11.0434C25.789 9.88203 25.6049 9.08928 25.3367 8.39562C25.0571 7.6781 24.6844 7.06944 24.0776 6.46306C23.4707 5.85623 22.8639 5.48349 22.1457 5.20507C21.4502 4.93529 20.657 4.75142 19.4956 4.69824C18.3319 4.64528 17.9615 4.63232 14.9977 4.63232H15.0012ZM14.0225 6.59829C14.3129 6.59784 14.637 6.59829 15.0012 6.59829C17.914 6.59829 18.2592 6.60875 19.4095 6.66102C20.4731 6.70966 21.0504 6.88739 21.435 7.03672C21.9441 7.23445 22.3071 7.47082 22.6887 7.85265C23.0705 8.23448 23.3069 8.59813 23.505 9.10723C23.6544 9.49133 23.8323 10.0686 23.8807 11.1323C23.933 12.2823 23.9444 12.6278 23.9444 15.5392C23.9444 18.4507 23.933 18.7962 23.8807 19.9462C23.8321 21.0099 23.6544 21.5872 23.505 21.9713C23.3073 22.4804 23.0705 22.8429 22.6887 23.2245C22.3068 23.6063 21.9443 23.8427 21.435 24.0404C21.0509 24.1904 20.4731 24.3677 19.4095 24.4163C18.2594 24.4686 17.914 24.48 15.0012 24.48C12.0881 24.48 11.7429 24.4686 10.5928 24.4163C9.52917 24.3672 8.95188 24.1895 8.56709 24.0402C8.05799 23.8425 7.69434 23.6061 7.31251 23.2243C6.93068 22.8424 6.69431 22.4797 6.49612 21.9704C6.3468 21.5862 6.16884 21.009 6.12043 19.9453C6.06815 18.7953 6.0577 18.4498 6.0577 15.5365C6.0577 12.6232 6.06815 12.2796 6.12043 11.1296C6.16906 10.0659 6.3468 9.48861 6.49612 9.10405C6.69385 8.59494 6.93068 8.2313 7.31251 7.84947C7.69434 7.46764 8.05799 7.23127 8.56709 7.03308C8.95165 6.88307 9.52917 6.7058 10.5928 6.65693C11.5992 6.61148 11.9892 6.59784 14.0225 6.59557V6.59829ZM20.8245 8.40971C20.1018 8.40971 19.5154 8.99541 19.5154 9.71839C19.5154 10.4411 20.1018 11.0275 20.8245 11.0275C21.5473 11.0275 22.1336 10.4411 22.1336 9.71839C22.1336 8.99564 21.5473 8.40926 20.8245 8.40926V8.40971ZM15.0012 9.9393C11.9072 9.9393 9.39871 12.4478 9.39871 15.5417C9.39871 18.6357 11.9072 21.1431 15.0012 21.1431C18.0951 21.1431 20.6027 18.6357 20.6027 15.5417C20.6027 12.4478 18.0949 9.9393 15.0009 9.9393H15.0012ZM15.0012 11.9053C17.0094 11.9053 18.6376 13.5333 18.6376 15.5417C18.6376 17.55 17.0094 19.1782 15.0012 19.1782C12.9927 19.1782 11.3647 17.55 11.3647 15.5417C11.3647 13.5333 12.9927 11.9053 15.0012 11.9053Z"
              class="fill-white"></path>
          </g>
          <defs>
            <clipPath id="clip0_294_922">
              <rect
                width="30.0009"
                height="30"
                fill="white"
                transform="translate(0 0.541504)"></rect>
            </clipPath>
          </defs>
        </svg>
      </a>
    </li>
    <li>
      <a
        href="https://www.facebook.com/afondlemag"
        target="_blank"
        title="Facebook"
      >
        <svg
          width="30"
          height="31"
          viewBox="0 0 30 31"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_294_925)">
            <path
              d="M12.501 30.3748C5.41764 29.1248 0.000976562 22.9582 0.000976562 15.5415C0.000976562 7.2915 6.75098 0.541504 15.001 0.541504C23.251 0.541504 30.001 7.2915 30.001 15.5415C30.001 22.9582 24.5843 29.1248 17.501 30.3748L16.6676 29.7082H13.3343L12.501 30.3748Z"
              class="fill-black"></path>
            <path
              d="M20.8343 19.7081L21.501 15.5414H17.501V12.6248C17.501 11.4581 17.9176 10.5414 19.751 10.5414H21.6676V6.70809C20.5843 6.54142 19.4176 6.37476 18.3343 6.37476C14.9176 6.37476 12.501 8.45809 12.501 12.2081V15.5414H8.75098V19.7081H12.501V30.2914C13.3343 30.4581 14.1676 30.5414 15.001 30.5414C15.8343 30.5414 16.6676 30.4581 17.501 30.2914V19.7081H20.8343Z"
              class="fill-white"></path>
          </g>
          <defs>
            <clipPath id="clip0_294_925">
              <rect
                width="30"
                height="30"
                fill="white"
                transform="translate(0.000976562 0.541504)"></rect>
            </clipPath>
          </defs>
        </svg>
      </a>
    </li>
  </ul>
  <div class="links">
    <p>© 2022 À fond !</p>
    <a href="/mentions-legales">Mentions légales</a>
    <a href="/cgu-cgv">CGU/CGV</a>
    <a href="mailto:contact@afondlemag.fr">Contact</a>
  </div>

  <div class="newsletter">
    <Newsletter client:idle />
  </div>
</footer>

<style>
  footer {
    position: relative;
    padding-block: var(--space-s);
    padding-inline: var(--space-l);
    background-color: var(--color-gray);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
    font-size: var(--step--1);
    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      height: var(--space-l);
      bottom: 100%;
      background-image: linear-gradient(
        to bottom right,
        transparent 50%,
        var(--color-gray) 50%
      );
      z-index: -1;
    }
    @media (width>70rem) {
      align-items: center;
      flex-direction: row;
      & .newsletter {
        margin-inline-start: auto;
      }
    }
  }
  .links {
    display: flex;
    gap: var(--space-s);
    @media (width<30rem) {
      flex-direction: column;
    }
  }
  .socialNetworks {
    display: flex;
    gap: var(--space-xs);
  }
  .socialNetworks a {
    & .fill-black {
      transition: fill 0.3s;
      fill: var(--color-black);
    }
    & .fill-white {
      transition: fill 0.3s;
      fill: var(--color-white);
    }
    &:where(:hover, :focus-visible) {
      & .fill-black {
        fill: var(--color-white);
      }
      & .fill-white {
        fill: var(--color-black);
      }
    }
  }
</style>
