---
import "toastify-js/src/toastify.css";
import "@fontsource-variable/outfit";
import "#styles/index.css";
import Header from "../components/Header/Header.astro";
import Footer from "../components/Footer/Footer.astro";
export type Props = {
  title: string;
};
const { title } = Astro.props;
---

<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Le magazine de sport des enfants. Le magazine de sport des enfants 
    - 60 pages pour lire, s’informer, bouger, s'amuser et 1 poster pour rêver!"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  body {
    min-height: 100svh;
    display: flex;
    flex-direction: column;
  }
  main {
    flex-grow: 1;
  }
</style>
